.title {
    &__block {
        padding-bottom: 2.2rem;
        margin-bottom: 6rem;
        &:after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            @include transform(translateX(-50%));
            width: 7rem;
            height: .2rem;
            display: inline-block;
            background-color: $color-03;
        }
    }
    &__block &__detail {
        font: {
            size: 3.6rem;
            weight: 700;
        }
        margin-bottom: 1.7rem;
    }
    &__block &__description {
        font: {
            size: 1.8rem;
            weight: 400;
            family: 'Playfair Display';
            style: italic;
        }
        line-height: 3rem;
    }
    &__block.white-style {
        color: $color-01;
        z-index: 2;
        &:after {
            left: 0;
            @include transform(translateX(0));
            background-color: $color-01;
        }
        &.style-text {
            &:after {
                background-color: $color-03;
            }
        }
    }
    &__block.style-text &__description {
        color: $color-13;
    }
}