@keyframes opacityTime {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.py-125 {
    padding-left: 12.5rem;
    padding-right: 12.5rem;
    @include for-size(991) {
        padding-left: 0;
        padding-right: 0;
    }
}