@keyframes opacityTime {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.py-125 {
    padding-left: 12.5rem;
    padding-right: 12.5rem;
    @include for-size(991) {
        padding-left: 0;
        padding-right: 0;
    }
}
.py-134 {
    padding-top: 13.4rem;
    padding-bottom: 13.4rem;
}
.pt-132 {
    padding-top: 13.2rem;
}
.px-200 {
    padding-left: 20rem;
    padding-right: 20rem;
}
.mt-137 {
    margin-top: 13.7rem;
}